/* CSS pro homepage 2 */

/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* loading */

.gallery {opacity: 0;}


/* variables */

:root {
	--gap: .5em;
	--index: calc(1vw + 1vh);
    --b1: #000; /* tlacitko */
    --b2: #fff; /* text */
    --b3: #000; /* hlavni pozadi */
    --b4: #fff; /* pozadi footeru */
    --b5: #000; /* text footeru */
    --b6: #fff; /* text v tlacitku */
    --b7: #000; /* text v tlacitku:hover */
}

/* startup */


/* body */

body {
    
    overflow: hidden; 
    height: 100vh; /* no scroll bar */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--b3);
}

/* header */ 

.header {
    
	position: absolute;
	font-weight: 200;
	text-align: center;
	color: var(--b2);
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .1em;
    font-size: calc(var(--index) * 2.8);
}

.header span {
    color: var(--b2);
	display: block;
	font-family: Helvetica, sans-serif;
	font-size: calc(var(--index) * .75);
	margin-top: 5px;
}

/* gallery */

.gallery {
    width: 30vw;
    column-width: 1.69vw;
    gap: var(--gap);
    transform: scale(10);
	transition: opacity 1.5s;
}

.gallery__item {
    margin-bottom: var(--gap);
	transition: 1s;
    
}

.gallery__item :hover{
    transform: scale(1.3);
}


.gallery__item img {
    display: block;
    width: 100%;
    display: block;
    transition: 1s;
}



/* footer */

body footer {
    font-family: Courier New, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 100%;
    background-color: var(--b4);
    text-align: center;
    height: 3.5vh;
    line-height: 30px;
    color: var(--b5);
    position: fixed;
    left: 0; right: 0; bottom: 0;
    z-index: 9999999999999999999999999999999999999;
}

footer a {
    text-decoration: none;
    background-color: var(--b1);
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
    text-decoration: none;
    transition: 1s;
    border-radius: 2vw;
}
footer a:visited {text-decoration: none; color: var(--b6);}
footer a:link {text-decoration: none; color: var(--b6);}
footer a:active {text-decoration: none; color: var(--b6);}
footer a:hover {text-decoration: none; color: var(--b7); background-color: white;}


/* loading */

.loaded .gallery {
	opacity: 1;
}
.loaded .header span {
	opacity: 0;
}
