/* css pro tisk */

@media print {
    body {
        background-color: #fff;
        font-family: Courier New, Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    main {
        width: 100%;
    }
    
    .gallery {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        display: none;
    }

    nav {
        display: none;
    }

    #pages {
        display: none;
    }


    .column {
        height:100vh
        
    }

    footer {
        display: none;
    }

    #prevlink, #nextlink, .unclickablebig, #buttonbar, .button, #home2, .loaded, #home2 img, .liked {
        display: none;
    }

    .fullsize_img, .thumb_pic {
        height: 100vh;
    }

    
}