/* css pro homepage 1 a zbytek */

/* TODO: 


 */

/* reset */

* {margin: 0; padding: 0; box-sizing: border-box;}

/* loading */




/* main layout */
body::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #fff;
    font-family: Courier New, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* header */
header h1 {
    font-size: 400%;
    width: 100%;
    color: #fff;
    font-weight: bold;
    text-align: center; 
    letter-spacing: 0.5em;
    text-transform: uppercase;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    
    
}

header a{
    transition: .5s
}

header a:visited {text-decoration: none; color: #fff;}
header a:link {text-decoration: none; color: #fff}
header a:active {text-decoration: none; color: #fff}
header a:hover {text-decoration: none;letter-spacing: .1vw; color: #fff; transform: scale(1.2, 1.2);}


/* nav */
body nav {
    width: 100%;
    background-color: #000;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: white;
    z-index: 99999999999999999;
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


nav a.button {
    background-color: #000;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
}
nav a.button:visited {text-decoration: none; color: #fff;}
nav a.button:link {text-decoration: none; color: #fff;}
nav a.button:active {text-decoration: none; color: #fff;}
nav a.button:hover {text-decoration: none; color: #000; background-color: #FEEAFA ;}

button {
    background-color: #000;
    color: white;

}

button:visited {text-decoration: none; color: #fff;}
button:link {text-decoration: none; color: #fff;}
button:active {text-decoration: none; color: #fff;}
button:hover {text-decoration: none; color: #000; background-color: #fff ;}

.filtered {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
    background-color: #fff;
    color: #000;
}

.filtered:visited {text-decoration: none; color: #000;}
.filtered:link {text-decoration: none; color: #000;}
.filtered:active {text-decoration: none; color: #000;}
.filtered:hover {text-decoration: none; color: #fff; background-color: #000 ;}
/* footer */

body footer {
    width: 100%;
    background-color: #000;
    text-align: center;
    height: 3.5vh;
    line-height: 30px;
    color: white;
    position: fixed;
    left: 0; right: 0; bottom: 0;
    z-index: 999999999999999999999;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    background-color: #000;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
    text-decoration: none;
    transition: 1s;
    border-radius: 2vw;
}
footer a:visited {text-decoration: none; color: #fff;}
footer a:link {text-decoration: none; color: #fff}
footer a:active {text-decoration: none; color: #fff}
footer a:hover {text-decoration: none; color: black; background-color: white; border-radius: 2vw    ;}

/* strankovani */

#pages {
    background-color: black;
    height: 3.5vh;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 9999999999999999999999999999999999999999;
    margin-top: 10vh;
    bottom: 3.5vh;
    color: white;
}

.unclickable {
    background-color: gray;
    margin: 10px;
    padding: 5px;
    color: white;
    border-radius: 2vw;
}

.disappear {
    display: none;
}

#pages a {
    text-decoration: none;
    background-color: #000;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
    text-decoration: none;
    transition: 1s;
    border-radius: 2vw;
    
}

#pages a:visited {text-decoration: none; color: #fff;}
#pages a:link {text-decoration: none; color: #fff}
#pages a:active {text-decoration: none; color: #fff}
#pages a:hover {text-decoration: none; color: black; background-color: white; border-radius: 2vw    ;}

/* main */
main {
    width: 100%;
}

main#defaultmain {
    margin-bottom: 10vh;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}



.gallery__item img{
    width: 100%;
    transition: 1.5s;
    z-index: 0;
}


.gallery__item {
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 3vh;
    cursor: pointer;
    transition: .5s;
}

.gallery__item:hover {
    transform: scale(1.03);
    filter: drop-shadow(.7vw .7vw .1vw #59656F);
    z-index: 0;
}

.column {
    width: 23vw;
    display: flex;
    flex-direction: column;
}

/* sign up */

/* forms */

body#sign_up form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body#sign_up fieldset {
    margin: 15px;
    text-align: center;
    width: 30%;
}

body#sign_up fieldset legend{
    margin: 15px;
    font-size: 18pt;
    font-weight: bolder;
}


body#sign_up div.formline label {
    width: 10vw;
}

body#sign_up div#radiolabel {
    width: 10vw;
    margin-right: 8px;
}

body#sign_up div.formline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 8px;
}

.WRONG{
    transition: all 1s ease;
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    color: white
}

.clown {
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

body#sign_up input[value="Sign Up"] {
    margin: 15px;
    width: 3vw;
    color: white;
    background-color: black;
}

body#sign_up input {
    width: 10vw;
    margin-right: 0.5vw;
}

body#sign_up input[value="Sign Up"]:visited {text-decoration: none; color: #fff;}
body#sign_up input[value="Sign Up"]:link {text-decoration: none; color: #fff;}
body#sign_up input[value="Sign Up"]:active {text-decoration: none; color: #fff;}
body#sign_up input[value="Sign Up"]:hover {text-decoration: none; color: #000; background-color: rgb(194, 181, 181); cursor: pointer ;}

body#sign_up .radio {
    display:flex;
    flex-direction: row;
    padding:0;
    margin:0;
    align-items: center;
    justify-content: center;
}

body#sign_up input.radioi {
    
    width: 1vw;
}

body#sign_up div.radioouter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
}

body#sign_up div.radioouter label {
    height: 100%;
    padding: 1vh;
}

#success_message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}


/* login */



body#log_in fieldset {
    margin-top: 20vh;
    text-align: center;
    width: 30%;
    
}

body#log_in fieldset legend{
    margin: 15px;
    font-size: 18pt;
    font-weight: bolder;
}


body#log_in div.formline label {
    width: 150px;
}

body#log_in div.formline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 8px;
}

body#log_in input[value="Log In"] {
    background-color: #000;
    margin: 10px;
    padding: 5px;
    color: #fff;
}



body#log_in input[value="Log In"]:visited {text-decoration: none; color: #fff;}
body#log_in input[value="Log In"]:link {text-decoration: none; color: #fff;}
body#log_in input[value="Log In"]:active {text-decoration: none; color: #fff;}
body#log_in input[value="Log In"]:hover {text-decoration: none; color: #000; background-color: rgb(194, 181, 181); cursor: pointer ;}

body#log_in form {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#myForm2 input[value="Log In"]{
    margin-top: 3vh;
    width: 5vw;
    color: white;
    background-color: black;
    transition: 1s;
}

#myForm2 input[value="Log In"]:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}

.form-popup2 {
    display: none;
    position: fixed;
    height: 80vh;
    bottom: 5vh;
    width: 50vw;
    left: 25vw;
    border: 3px solid #f1f1f1;
    
    z-index: 9;
    background-color: rgba(0,0,0, 75%);
    transition: display 2s;
  }

.form-popup2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    border: 0;
}

.form-popup2 fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    color: white;
    text-align: center;
    border: 0;
}

#btn_cancel2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5vw;
    height: 1.5vh;
    transition: 1s;
    background-color: #000;
    color: white;
    margin-top: 1vw;
    margin-left: 1vw;
}

#btn_cancel2:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#myForm2 input[value="Sign Up"]{
    margin-top: 3vh;
    width: 5vw;
    color: white;
    background-color: black;
    transition: 1s;
}

#myForm2 input[value="Sign Up"]:hover{
    cursor: pointer;
    color: black;
    background-color: white;
}
#myForm2 .formline label{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1vh;
}


/* FULLSIZE */
body#fullsize {
    background-color: #000;
}
body#fullsize main {
    background-color: #000;
    margin-top:5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

body#fullsize img {
    border: 7px solid #59656F;
}

body#fullsize main a.button {
    background-color: #000;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    transition: 1s;
}

body#fullsize main #buttonbar {
    display: flex;
    flex-direction: row;
    background-color: #000;
    width: 100%;
    justify-content: center;
    align-items: center;
}

body#fullsize #buttonbar a.button:visited {text-decoration: none; color: #fff;}
body#fullsize #buttonbar a.button:link {text-decoration: none; color: #fff}
body#fullsize #buttonbar a.button:active {text-decoration: none; color: #fff}
body#fullsize #buttonbar a.button:hover {text-decoration: none; color: #fff; background-color: #FE654F ;cursor: pointer;}

body#fullsize main a.liked {
    background-color: #FE654F;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    transition: 1s;
}

body#fullsize main a.liked::after {
    content: "d";
}

body#fullsize #buttonbar a.liked:visited {text-decoration: none; color: #fff;}
body#fullsize #buttonbar a.liked:link {text-decoration: none; color: #fff}
body#fullsize #buttonbar a.liked:active {text-decoration: none; color: #fff}
body#fullsize #buttonbar a.liked:hover {text-decoration: none; color: #fff; background-color: #000 ;cursor: pointer;}

body#fullsize #prevlink{
    position: fixed;
    left: 3vw;
    top: 45vh;
    font-size: 3em;
    background-color: #000;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
    border-radius: 3em;
}
body#fullsize #prevlink:visited {text-decoration: none; color: #fff;}
body#fullsize #prevlink:link {text-decoration: none; color: #fff;}
body#fullsize #prevlink:active {text-decoration: none; color: #fff;}
body#fullsize #prevlink:hover {text-decoration: none; color: #000; background-color: #FEEAFA ;border-radius: 3em;}

    
body#fullsize #nextlink{
    
    position: fixed;
    right: 3vw;
    top: 45vh;
    font-size: 3em;
    background-color: #000;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
    border-radius: 3em;
}
body#fullsize #nextlink:visited {text-decoration: none; color: #fff;}
body#fullsize #nextlink:link {text-decoration: none; color: #fff;}
body#fullsize #nextlink:active {text-decoration: none; color: #fff;}
body#fullsize #nextlink:hover {text-decoration: none; color: #000; background-color: #FEEAFA ;border-radius: 3em;}

body#fullsize #nextlink.unclickablebig, body#fullsize #prevlink.unclickablebig {
    background-color: gray;
}

body#fullsize #nextlink.unclickablebig, body#fullsize #prevlink.unclickablebig:visited {text-decoration: none; color: #fff;}
body#fullsize #nextlink.unclickablebig, body#fullsize #prevlink.unclickablebig:link {text-decoration: none; color: #fff;}
body#fullsize #nextlink.unclickablebig, body#fullsize #prevlink.unclickablebig:active {text-decoration: none; color: #fff;}
body#fullsize #nextlink.unclickablebig, body#fullsize #prevlink.unclickablebig:hover {text-decoration: none; color: #000;}

/* welcome page */

body#welcomepage {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#enterbutton {
    font-size: 20em;
    text-decoration: none;
    background-color: #000;
    margin: 10px; 
    text-decoration: none;
    transition: 1.5s;
    border-radius: 2vw;
    }
    
#enterbutton:visited {text-decoration: none; color: #fff;}
#enterbutton:link {text-decoration: none; color: #fff}
#enterbutton:active {text-decoration: none; color: #fff}
#enterbutton:hover {text-decoration: none; color: black; background-color: #fff;
    transform: scale(1.3, 1.3);}


/* my account */

body#myaccount {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

#myaccount main#myaccmain{
    font-family: Courier New, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    
}

#myaccount main#myaccmain a.filtered {
    font-size: 0.5em;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
}

#myaccount main#filteredmain {
    margin-bottom: 10vh;
}

#myaccount main#myaccmain a.filtered:visited {text-decoration: none; color: #000;}
#myaccount main#myaccmain a.filtered:link {text-decoration: none; color: #000;}
#myaccount main#myaccmain a.filtered:active {text-decoration: none; color: #000;}
#myaccount main#myaccmain a.filtered:hover {text-decoration: none; color: #fff; background-color: #000 ;}

#myaccount main#myaccmain a.button {
    font-size: 0.5em;
    background-color: #000;
    margin: 10px;
    padding: 5px;
    transition: 0.75s;
}
#myaccount main#myaccmain a.button:visited {text-decoration: none; color: #fff;}
#myaccount main#myaccmain a.button:link {text-decoration: none; color: #fff;}
#myaccount main#myaccmain a.button:active {text-decoration: none; color: #fff;}
#myaccount main#myaccmain a.button:hover {text-decoration: none; color: #000; background-color: #FEEAFA ;}


#myaccount section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    margin-top: 15vh;
    font-size: 2em;
}
#myaccount section table{
    width: 100%;
    background-color: #000;

}
#myaccount section tbody{
    width: 100%;
    background-color: #000;

}

#myaccount section tr{
    width: 100%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

#myaccount section th{
    width: 20vw;
    background-color: #000;
    color: #fff;
    border: thick double #fff;
    border-bottom:thick double #FE654F;
}

#myaccount section td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    background-color: #000;
    color: #fff;
    border: thick double #FE654F ;
    border-bottom: thick solid #FE654F ;
    margin-bottom: 5vh;
}


body#myaccount div#pages{
    margin-top: 10vh;
}

#myaccount #mobiletable {
    display: none;
}

#myaccount h1#likedpicsh1 {
    color: #fff;
}


/* easter eggs */

#clownsforxavi {
    font-size: 3em;
    background-color: black;
}

.pompompurin {
    width: auto;
    max-width: 90vw;
}

#easter_egg {
    display: flex;
    background-color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}






/* mobile */

@media screen and (max-width: 1079px) {
    .column {
        width: 90%;
        
        margin: 0;
    }

    #defaultmain {
        margin: 0;
        
    }
    
    .column:first-of-type{
        margin-top: 5vh;
    }

    .column:last-of-type{
        margin-bottom: 5vh;
    }

    nav a.button {
        width: 10vw;
        font-size: 1em;
        margin: 1.5vw;
        margin-top: 10vh;
    }


    nav a.button:visited {text-decoration: none; color: #fff;width: 30vw;}
    nav a.button:link {text-decoration: none; color: #fff;width: 30vw;}
    nav a.button:active {text-decoration: none; color: #fff;width: 30vw;}
    nav a.button:hover {text-decoration: none; color: #000; background-color: #FEEAFA ;width: 30vw;}

    body nav {
        height: 5.5vh;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pages {
        font-size: 1em;
    }
    
    header {
        display: none;
    }
    footer a {
        display:none;
    }

    body#fullsize main {
        
        background-color: #000;
        margin-top:5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    body#fullsize #prevlink{

        top:70vh;

    }

    body#fullsize #nextlink{

        top:70vh;

    }

    body#fullsize img {
        width: 90vw;
        border: 7px solid #59656F;
    }

    body#log_in input[value="Log In"] {
        background-color: #000;
        width: 80vw;
        margin: 10px;
        padding: 5px;
        color: #fff;
    }
    
    
    
    body#log_in input[value="Log In"]:visited {text-decoration: none; color: #fff;}
    body#log_in input[value="Log In"]:link {text-decoration: none; color: #fff;}
    body#log_in input[value="Log In"]:active {text-decoration: none; color: #fff;}
    body#log_in input[value="Log In"]:hover {text-decoration: none; color: #000; background-color: rgb(194, 181, 181); cursor: pointer ;}

    body#sign_up div.formline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 80vw;
        
        
    }
    
    body#sign_up input{ 
        width: 80vw;
    }

    body#sign_up #instructions {
        margin-top: 10vh;
    }

    body#sign_up input[value="Sign Up"] {
        background-color: #000;
        width: 80vw;
        margin: 10px;
        padding: 5px;
        margin-bottom: 5vh;
        color: #fff;
    }

    body#sign_up input[value="Sign Up"]:visited {text-decoration: none; color: #fff;}
    body#sign_up input[value="Sign Up"]:link {text-decoration: none; color: #fff;}
    body#sign_up input[value="Sign Up"]:active {text-decoration: none; color: #fff;}
    body#sign_up input[value="Sign Up"]:hover {text-decoration: none; color: #000; background-color: rgb(194, 181, 181); cursor: pointer ;}

    #enterbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        font-size: 5em;
        text-decoration: none;
        background-color: #000;
        margin: 10px;
        padding: 5px;
        transition: 0.75s;
        text-decoration: none;
        transition: 2.5s;
        border-radius: 2vw;
        }

    #myaccount section table{
        font-size: 0.5em;
    
    }
    
    #myaccount #pctable {
        display: none;
    }

    #myaccount #mobiletable {
        display: flex;
        margin: 0;
        padding: 0;
    }
    #myaccount #mobiletable tr {
        width: 100vw;
        height: 5vh;
        margin: 0;
        padding: 0;
    }

    #myaccount #mobiletable th {
        width: 25vw;
        height: 5vh;
        margin: 0;
        padding: 0;
    }

    #myaccount #mobiletable td {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75vw;
        height: 5vh;
        margin: 0;
        padding: 0;
    }

    

}
